@charset "utf-8";
$font-nor-style: "Microsoft Yahei", "微软雅黑";

//px2rem
$font-base-size: 64px;
@function rem($px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return rem($px +0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $font-base-size) * 1rem;
}

$slow: 0.4s;
$middle: 0.8s;
$long: 1.2s;


//my mixin
@mixin animation($animation-value,$fill-mode:both){
  -webkit-animation:$animation-value;
  animation:$animation-value;
  -webkit-animation-fill-mode:$fill-mode;
  animation-fill-mode:$fill-mode;
}
@mixin transform($transform){
  -webkit-transform:$transform;
  transform:$transform;
}
@mixin background($background, $background-size: 100% 100%){
  background:$background;
  background-size: $background-size;
}
@mixin transition($transition){
  -webkit-transition:$transition;
  transition:$transition;
}
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

//

body, html{
  font-style: $font-nor-style;
  width: 100%;
}

html, body {
  margin: 0;
  color: #6c6c6c;
  font: 13px/21px "微软雅黑";
}

dd, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, ul {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: none; }

li {
  list-style: none; }

img, input, select {
  vertical-align: middle; }

input, select, textarea {
  font-size: 13px; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

div, dl, ul {
  zoom: 1; }

div:after, dl:after, ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0; }
/*
img {
   @include transform(scale(1) rotate(0deg) translate3d(0,0,0));
 }*/
